@model MobileRecharge.Models.RechargeModel

@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Plan Details</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Plan Name:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PlanName)</dd>

            <dt class="col-sm-3">Price:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
        </dl>
    </div>
    <div class="card-footer text-right">
        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-secondary btn-sm" asp-action="Index">Back to List</a>
    </div>
</div>

