<h1 class="text-center">Recharge your phone</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <b>Follow these simple steps to recharge your phone:</b>
            <ol>
                <li>Go to the recharge website</li>
                <li>Log in to the page, if new user then Register and continue</li>
                <li>Under plans section chose the plan</li>
                <li>Once plan is bought, it gets added to your profile</li>
                <li>Wait for the confirmation message on your phone</li>
            </ol>
            <p class="mt-3">That's it! Your phone is now recharged and ready to use.</p>
            <p>If you have any issues or questions, please contact the recharge website's customer support.</p>
            <a class="btn btn-primary" asp-action="Contact">Contact Us</a>
        </div>
    </div>
</div>