@model MobileRecharge.Models.RechargeModel

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <h5 class="card-header">Plan Details</h5>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Plan Name:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.PlanName)</dd>
            <dt class="col-sm-2">Price:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Price)</dd>
            <dt class="col-sm-2">Description:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        </dl>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>
